@model IEnumerable<TheatreCMS3.Areas.Prod.Models.ProductionMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var groupByProduction = Model.GroupBy(model => model.Film);
}

<h2>Production Members</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn Areas-Prod-Views-ProductionMembers-Create-back" })
</p>


@foreach (var group in groupByProduction)
{
    <br />
    <h2 class="">@group.Key</h2>
    <hr />
    <div class="body-content row">
        @foreach (var item in group)
        {
        string text = "";
        if (item.Photo != null)
        {
        text = Convert.ToBase64String(item.Photo);

        <div class="card-deck" style="display: inline-block; width: 18rem;">
            <i class="fa-paperclip:before icon-white"></i>
                <div class="card">
                    <a href="@Url.Action("Details", new { id = item.ProductionMemberId })">
                        <img src="data:image;base64,@text" class="ProductionMembers-Index-Photo" style="height: 12rem;" alt="No available photo">
                    </a>
                    <div class="card-body cms-bg-main-light ProductionMembers-text-card">
                        <h5 class="card-title"><strong><u>@Html.DisplayFor(modelItem => item.Character)</u></strong></h5>

                        <p>@Html.DisplayFor(modelItem => item.Name)</p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <i href="#">@Html.ActionLink(" ", "Delete", new { id = item.ProductionMemberId }, new { @class = "fa fa-edit fa-lg cms-text-secondary" })</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <i href="#">@Html.ActionLink(" ", "Delete", new { id = item.ProductionMemberId }, new { @class = "fa fa-trash fa-lg cms-text-secondary" })</i>
                    </div>
                </div>
           
        </div>
        }
        } 
    </div><br /><br />
 }
<style>
    .body-content {
        width: 100vw;
        margin: 0;
        padding: 0;
        max-width: 100vw;
    }
</style>
